<div class="container" fxLayout="column" fxLayoutGap="10px">

  <!-- Material Design Provide | in Bootstrap => @media -->
  <mat-list fxFlex> <!-- Apply Flex layout here-->
    <mat-list-item *ngFor="let dish of dishes"> <!-- Structure Directive in Angular | loop through dishes obj-->
      <img mat-list-avatar src={{dish.image}} alt={{dish.name}}>
      <h1 mat-line>{{dish.name}}</h1>
      <p mat-line>
        <span>{{dish.description}}</span>

      </p>
    </mat-list-item>
  </mat-list>

</div>
